.imageCarouselWrapper {
  width: 100%;
  height: 100%;
  transition-timing-function: ease-in-out;
}

.imageCarouselImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.imageCarouselSliderWrapper {
  width: 100%;
  height: 100%;
}

.imageCarouselFadeImage {
  transition-property: opacity;
  transition-timing-function: ease-in-out;
}

.imageCarouselButtonWrapper {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 10;
}

.imageCarouselLeftButtonWrapper {
  left: 0;
}

.imageCarouselRightButtonWrapper {
  right: 0;
}

.imageCarouselRightButton {
  transform: rotate(180deg);
  transform-origin: center;
}